body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

footer * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: silver;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

ul * {
    display: inline-block;
}

.connect {
    justify-content: space-between;
    background-color: black;
    text-align: center;
    color: silver;
}

.connect div {
    flex-grow: 1;
}

.connect ul * {
    opacity: 85%;
    padding-right: 0.2em
}

.connect ul a img {
    height: 20px;
}

.connect .title, b {
    color: white;
    font-weight: bold;
}

form, .title, .map, .connect ul {
    margin-bottom: 2em;
    margin-top: 2em;
}

.connect p {
    line-height: 2em;
}


.quick-links {
    background-color: dimgrey;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
}

.quick-links * {
    padding: 0.25em;
}
.quick-links ul *{
    font-size: 0.85em;
    padding-right: 0.25em;
}

form input {
    width: 85%;
    padding: 15px;
    border-radius: 30px;
    background-color: black;
    border: 1px solid silver;
    margin-bottom: 0.5em;
}

form button {
    padding: 15px 20px;
    border-radius: 30px;
    background-color: silver;
    border: 1px solid silver;
    color: white;

}

@media (min-width: 1080px) {
    section {
        display: flex;
        flex-direction: row;
    }
    .connect {
        padding: 5em 5em 2.5em 5em;
        text-align: left;
    }
    form, .title, .map, .connect ul {
        margin-bottom: 1em;
        margin-top: 0;
    }
    form input {
        width: 100%;
    }
    .quick-links {
        padding: 2.5em 5em 2.5em 5em;
    }
    .quick-links ul *{
        padding-right: 1em;
    }
}