body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
}

li a:hover {
    color: steelblue;
}

nav {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

nav * {
    display: inline-block;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: .75em;
    font-weight: bold;
    font-family: "Work Sans";
}

nav p {
    font-size: 3em;
    padding: 0.2em 0;
    font-family: "Montserrat";
    margin: 0 auto;
}

nav ul li a {
    padding: 0.75em;
}
nav ul li img {
    height: 20px;
}