body {
    position: relative;
    margin: 0;
    font-family: sans-serif;
}

#top-nav {
    background-color: black;
    padding: 10px;
}

#top-nav img {
    width: 3em;
    float: left;
    margin: auto 0;
}

#top-nav a, li {
    display: inline-block;
    text-decoration: none;
    color: lightgray;
    margin-left: 0.5em;
}

.profile {
    background-color: #E6ECF0;
}

.profile img {
    width: 3em;
    margin: 2em 1em;
}

.profile h2, h2 a {
    margin: auto 0;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.profile div {
    display: flex;
}


#profile-nav ul {
    margin: 0 0 0 2em;
    padding: 0;
}

#profile-nav a, li {
    display: inline-block;
    text-decoration: none;
    color: dimgrey;
}

#profile-nav li {
    padding: 0.5em 1em;
    margin: 0.25em;
}

#profile-nav li.inactive:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
}


#top-nav li:hover, footer a:hover {
    cursor: pointer;
    opacity: 55%;
}

#profile-nav span {
    font-size: 0.8em;
    font-weight: bolder;
    padding: 0 6px;
    margin-left: 5px;
    background-color: lightgray;
    border-radius: 10px;
}

#profile-nav li.active {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 3px solid red;
    border-bottom: 1px solid white;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0.7em;
}

#profile-content {
    margin: 4em 2em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#profile-content #title {
    margin: 0;
    display: block;
    background-color: #E6ECF0;
    padding: 1em 0 1.5em 3em;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

#profile-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#profile-content table {
    width: 92%;
    margin-left: 4%;
}

#profile-content a {
    font-weight: normal;
    color: blueviolet;
    font-size: 1.25em;
    text-decoration: none;
}

#profile-content th span {
    font-weight: normal;
    border: none;
    color: gray;
    font-size: 1em;
}

#profile-content td.pic {
    width: 1.5em;
    padding: 1em 1em 1em 0;
}

#profile-content th {
    text-align: left;
}

#profile-content td.status, td.teams {
    text-align: right;
    color: gray;
}

table td, th {
    border-bottom: 1px solid lightgray;
}

table td.last, th.last {
    border: none;
}

footer {
    padding: 2em 3em;
    border-top: 1px solid lightgray;
}

footer ul, p {
    display: inline-block;
}

footer p {
    color: gray;
}

footer a {
    color: blueviolet;
}

footer ul:nth-of-type(2) {
    float: right;
}
