body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --text-info: #4F4AA4;
    --bg-info: #CDDDFF;
    --text-success: #3A895A;
    --bg-success: #CFF3DA;
    --text-warning: #98872E;
    --bg-warning: #FCFBC9;
    --text-error: #933447;
    --bg-error: #FAD3D7;
}

.message {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 50%;
    margin: 0.5em auto;
    padding: 0.5em;
}

.message-info {
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error {
    color: var(--text-error);
    background-color: var(--bg-error);
}
